html{
	min-height:100%;	
}

body{
	min-height:100%;
}

.nodeco{
	text-decoration: none !important;
}

.navbar-brand{
	font-family: "Dosis";	
}


/* format the code blocks */
pre {
  border-radius: 0 !important;
  border-left: 0.35rem solid #6c757d !important;
  padding: 0.35rem 1rem !important;
  margin-top: 1.5rem  !important;
  margin-bottom: 1.5rem  !important;
}