make_input
test_des
*.txt
*.o
test_uak_256
test_uak_256_no
test_ua_256
test_ua_256_no
test_uak_128
test_uak_128_no
test_uak_64
test_uak_64_no
test_uak_64std
test_uak_64std_no
test_kwan
test_kwan_no

*.tikz