ua_KIVI_DIRECT_EXPANDED
ua_KIVI_DIRECT_NOEXP
ua_KIVI_INDIRECT_EXPANDED
ua_KIVI_INDIRECT_NOEXP
ua_MACRO_DIRECT_EXPANDED
ua_MACRO_DIRECT_NOEXP
ua_MACRO_INDIRECT_EXPANDED
ua_MACRO_INDIRECT_NOEXP
full_kivi
*.s